body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full screen height */
  background: url('../assets/Evm.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 850px;
  background-color: rgba(13, 19, 19, 0.85); /* Slightly darker background */
  padding: 40px;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); /* Stronger shadow for depth */
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 36px;
  color: #000000; /* Main heading color */
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 28px;
  color: #000000be; /* Subheading color */
  margin-bottom: 20px;
}

h3, p {
  color: #f9f9f9e3; /* Text color */
}

.table {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(45, 63, 65, 0.85); /* More transparent background */
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1); /* Subtle shadow */
}

th {
  font-size: 20px;
  color: #f9f9f9; /* Table heading color */
  padding-bottom: 15px;
}

td {
  font-size: 18px;
  color: #f9f9f9;
  padding: 10px;
  text-align: left;
}

#voteButton {
  width: 50%;
  padding: 14px;
  background-color: #1c8190; /* Vibrant button color */
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#voteButton:hover {
  background-color: #558e99; /* Darker hover state */
}

#voteButton:active {
  transform: translateY(2px);
}

#accountAddress {
  font-size: 18px;
  color: #f9f9f9;
  margin-top: 20px;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 28px;
  }

  #voteButton {
    width: 100%;
  }
}
